{% extends '@App/layout.html.twig' %}

    {% block scripts %}
        {{ parent() }}

        <script src="{{ asset('bundles/app/js/steps.min.js') }}"></script>

        <script src="{{ asset('bundles/app/js/select2.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/uniform.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/inputmask.js') }}"></script>
        <script src="{{ asset('bundles/app/js/validate.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/form_wizard.js') }}"></script>

    {% endblock %}

{% block content %}
    <div class="content">

        <!-- Wizard with validation -->
        <div class="card">
            <div class="card-header bg-white header-elements-inline">
                <h6 class="card-title">Wizard with validation</h6>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>

            <form class="wizard-form steps-validation wizard clearfix" action="#" data-fouc="" role="application" id="steps-uid-5" novalidate="novalidate"><div class="steps clearfix"><ul role="tablist"><li role="tab" class="first current" aria-disabled="false" aria-selected="true"><a id="steps-uid-5-t-0" href="#steps-uid-5-h-0" aria-controls="steps-uid-5-p-0" class=""><span class="current-info audible">current step: </span><span class="number">1</span> Personal data</a></li><li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-5-t-1" href="#steps-uid-5-h-1" aria-controls="steps-uid-5-p-1" class="disabled"><span class="number">2</span> Your education</a></li><li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-5-t-2" href="#steps-uid-5-h-2" aria-controls="steps-uid-5-p-2" class="disabled"><span class="number">3</span> Your experience</a></li><li role="tab" class="disabled last" aria-disabled="true"><a id="steps-uid-5-t-3" href="#steps-uid-5-h-3" aria-controls="steps-uid-5-p-3" class="disabled"><span class="number">4</span> Additional info</a></li></ul></div><div class="content clearfix">
                    <h6 id="steps-uid-5-h-0" tabindex="-1" class="title current">Personal data</h6>
                    <fieldset id="steps-uid-5-p-0" role="tabpanel" aria-labelledby="steps-uid-5-h-0" class="body current" aria-hidden="false">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select location: <span class="text-danger">*</span></label>
                                    <select name="location" data-placeholder="Select position" class="form-control form-control-select2 required select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                        <option></option>
                                        <optgroup label="North America">
                                            <option value="1">United States</option>
                                            <option value="2">Canada</option>
                                        </optgroup>

                                        <optgroup label="Latin America">
                                            <option value="3">Chile</option>
                                            <option value="4">Argentina</option>
                                            <option value="5">Colombia</option>
                                            <option value="6">Peru</option>
                                        </optgroup>

                                        <optgroup label="Europe">
                                            <option value="8">Croatia</option>
                                            <option value="9">Hungary</option>
                                            <option value="10">Ukraine</option>
                                            <option value="11">Greece</option>
                                        </optgroup>
                                    </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-location-le-container"><span class="select2-selection__rendered" id="select2-location-le-container"><span class="select2-selection__placeholder">Select position</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select position: <span class="text-danger">*</span></label>
                                    <select name="position" data-placeholder="Select position" class="form-control form-control-select2 required select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                        <option></option>
                                        <optgroup label="Developer Relations">
                                            <option value="1">Sales Engineer</option>
                                            <option value="2">Ads Solutions Consultant</option>
                                            <option value="3">Technical Solutions Consultant</option>
                                            <option value="4">Business Intern</option>
                                        </optgroup>

                                        <optgroup label="Engineering &amp; Design">
                                            <option value="5">Interaction Designer</option>
                                            <option value="6">Technical Program Manager</option>
                                            <option value="7">Software Engineer</option>
                                            <option value="8">Information Security Engineer</option>
                                        </optgroup>

                                        <optgroup label="Marketing &amp; Communications">
                                            <option value="13">Media Outreach Manager</option>
                                            <option value="14">Research Manager</option>
                                            <option value="15">Marketing Intern</option>
                                            <option value="16">Business Intern</option>
                                        </optgroup>
                                    </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-position-b0-container"><span class="select2-selection__rendered" id="select2-position-b0-container"><span class="select2-selection__placeholder">Select position</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Applicant name: <span class="text-danger">*</span></label>
                                    <input type="text" name="name" class="form-control required" placeholder="John Doe">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email address: <span class="text-danger">*</span></label>
                                    <input type="email" name="email" class="form-control required" placeholder="your@email.com">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone #:</label>
                                    <input type="text" name="tel" class="form-control" placeholder="+99-99-9999-9999" data-mask="+99-99-9999-9999" aria-invalid="false">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>Date of birth:</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="birth-month" data-placeholder="Month" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                <option></option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-birth-month-c4-container"><span class="select2-selection__rendered" id="select2-birth-month-c4-container"><span class="select2-selection__placeholder">Month</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="birth-day" data-placeholder="Day" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                <option></option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="...">...</option>
                                                <option value="31">31</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-birth-day-oa-container"><span class="select2-selection__rendered" id="select2-birth-day-oa-container"><span class="select2-selection__placeholder">Day</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="birth-year" data-placeholder="Year" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                <option></option>
                                                <option value="1">1980</option>
                                                <option value="2">1981</option>
                                                <option value="3">1982</option>
                                                <option value="4">1983</option>
                                                <option value="5">1984</option>
                                                <option value="6">1985</option>
                                                <option value="7">1986</option>
                                                <option value="8">1987</option>
                                                <option value="9">1988</option>
                                                <option value="10">1989</option>
                                                <option value="11">1990</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-birth-year-72-container"><span class="select2-selection__rendered" id="select2-birth-year-72-container"><span class="select2-selection__placeholder">Year</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <h6 id="steps-uid-5-h-1" tabindex="-1" class="title">Your education</h6>
                    <fieldset id="steps-uid-5-p-1" role="tabpanel" aria-labelledby="steps-uid-5-h-1" class="body" style="display: none;" aria-hidden="true">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>University: <span class="text-danger">*</span></label>
                                    <input type="text" name="university" placeholder="University name" class="form-control required">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country:</label>
                                    <select name="university-country" data-placeholder="Choose a Country..." class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                        <option></option>
                                        <option value="1">United States</option>
                                        <option value="2">France</option>
                                        <option value="3">Germany</option>
                                        <option value="4">Spain</option>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-university-country-h6-container"><span class="select2-selection__rendered" id="select2-university-country-h6-container"><span class="select2-selection__placeholder">Choose a Country...</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Degree level: <span class="text-danger">*</span></label>
                                    <input type="text" name="degree-level" placeholder="Bachelor, Master etc." class="form-control required">
                                </div>

                                <div class="form-group">
                                    <label>Specialization:</label>
                                    <input type="text" name="specialization" placeholder="Design, Development etc." class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>From:</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="education-from-month" data-placeholder="Month" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                        <option></option>
                                                        <option value="January">January</option>
                                                        <option value="...">...</option>
                                                        <option value="December">December</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-education-from-month-3z-container"><span class="select2-selection__rendered" id="select2-education-from-month-3z-container"><span class="select2-selection__placeholder">Month</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="education-from-year" data-placeholder="Year" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                        <option></option>
                                                        <option value="1995">1995</option>
                                                        <option value="...">...</option>
                                                        <option value="1980">1980</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-education-from-year-u9-container"><span class="select2-selection__rendered" id="select2-education-from-year-u9-container"><span class="select2-selection__placeholder">Year</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label>To:</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="education-to-month" data-placeholder="Month" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                        <option></option>
                                                        <option value="January">January</option>
                                                        <option value="...">...</option>
                                                        <option value="December">December</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-education-to-month-p2-container"><span class="select2-selection__rendered" id="select2-education-to-month-p2-container"><span class="select2-selection__placeholder">Month</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="education-to-year" data-placeholder="Year" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                        <option></option>
                                                        <option value="1995">1995</option>
                                                        <option value="...">...</option>
                                                        <option value="1980">1980</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-education-to-year-bd-container"><span class="select2-selection__rendered" id="select2-education-to-year-bd-container"><span class="select2-selection__placeholder">Year</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Language of education:</label>
                                    <input type="text" name="education-language" placeholder="English, German etc." class="form-control">
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <h6 id="steps-uid-5-h-2" tabindex="-1" class="title">Your experience</h6>
                    <fieldset id="steps-uid-5-p-2" role="tabpanel" aria-labelledby="steps-uid-5-h-2" class="body" style="display: none;" aria-hidden="true">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company: <span class="text-danger">*</span></label>
                                    <input type="text" name="experience-company" placeholder="Company name" class="form-control required">
                                </div>

                                <div class="form-group">
                                    <label>Position: <span class="text-danger">*</span></label>
                                    <input type="text" name="experience-position" placeholder="Company name" class="form-control required">
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>From:</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="education-from-month" data-placeholder="Month" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                        <option></option>
                                                        <option value="January">January</option>
                                                        <option value="...">...</option>
                                                        <option value="December">December</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-education-from-month-5n-container"><span class="select2-selection__rendered" id="select2-education-from-month-5n-container"><span class="select2-selection__placeholder">Month</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="education-from-year" data-placeholder="Year" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                        <option></option>
                                                        <option value="1995">1995</option>
                                                        <option value="...">...</option>
                                                        <option value="1980">1980</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-education-from-year-wn-container"><span class="select2-selection__rendered" id="select2-education-from-year-wn-container"><span class="select2-selection__placeholder">Year</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label>To:</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="education-to-month" data-placeholder="Month" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                        <option></option>
                                                        <option value="January">January</option>
                                                        <option value="...">...</option>
                                                        <option value="December">December</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-education-to-month-fk-container"><span class="select2-selection__rendered" id="select2-education-to-month-fk-container"><span class="select2-selection__placeholder">Month</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select name="education-to-year" data-placeholder="Year" class="form-control form-control-select2 select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                                        <option></option>
                                                        <option value="1995">1995</option>
                                                        <option value="...">...</option>
                                                        <option value="1980">1980</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-education-to-year-ym-container"><span class="select2-selection__rendered" id="select2-education-to-year-ym-container"><span class="select2-selection__placeholder">Year</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Brief description:</label>
                                    <textarea name="experience-description" rows="4" cols="4" placeholder="Tasks and responsibilities" class="form-control"></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="d-block">Recommendations:</label>
                                    <div class="uniform-uploader"><input name="recommendations" type="file" class="form-input-styled" data-fouc=""><span class="filename" style="-moz-user-select: none;">No file selected</span><span class="action btn bg-blue" style="-moz-user-select: none;">Choose File</span></div>
                                    <span class="form-text text-muted">Accepted formats: pdf, doc. Max file size 2Mb</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <h6 id="steps-uid-5-h-3" tabindex="-1" class="title">Additional info</h6>
                    <fieldset id="steps-uid-5-p-3" role="tabpanel" aria-labelledby="steps-uid-5-h-3" class="body" style="display: none;" aria-hidden="true">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="d-block">Applicant resume:</label>
                                    <div class="uniform-uploader"><input type="file" name="resume" class="form-input-styled" data-fouc=""><span class="filename" style="-moz-user-select: none;">No file selected</span><span class="action btn bg-blue" style="-moz-user-select: none;">Choose File</span></div>
                                    <span class="form-text text-muted">Accepted formats: pdf, doc. Max file size 2Mb</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Where did you find us? <span class="text-danger">*</span></label>
                                    <select name="source" data-placeholder="Choose an option..." class="form-control form-control-select2 required select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                        <option></option>
                                        <option value="monster">Monster.com</option>
                                        <option value="linkedin">LinkedIn</option>
                                        <option value="google">Google</option>
                                        <option value="adwords">Google AdWords</option>
                                        <option value="other">Other source</option>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-source-b7-container"><span class="select2-selection__rendered" id="select2-source-b7-container"><span class="select2-selection__placeholder">Choose an option...</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Availability: <span class="text-danger">*</span></label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <div class="uniform-choice"><span><input type="radio" name="availability" class="form-input-styled required" data-fouc=""></span></div>
                                            Immediately
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <div class="uniform-choice"><span><input type="radio" name="availability" class="form-input-styled" data-fouc=""></span></div>
                                            1 - 2 weeks
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <div class="uniform-choice"><span><input type="radio" name="availability" class="form-input-styled" data-fouc=""></span></div>
                                            3 - 4 weeks
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <div class="uniform-choice"><span><input type="radio" name="availability" class="form-input-styled" data-fouc=""></span></div>
                                            More than 1 month
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Additional information:</label>
                                    <textarea name="additional-info" rows="5" cols="5" placeholder="If you want to add any info, do it here." class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div><div class="actions clearfix"><ul role="menu" aria-label="Pagination"><li class="disabled" aria-disabled="true"><a href="#previous" class="btn btn-light disabled" role="menuitem"><i class="icon-arrow-left13 mr-2"></i> Previous</a></li><li aria-hidden="false" aria-disabled="false"><a href="#next" class="btn btn-primary" role="menuitem">Next <i class="icon-arrow-right14 ml-2"></i></a></li><li style="display: none;" aria-hidden="true"><a href="#finish" class="btn btn-primary" role="menuitem">Submit form <i class="icon-arrow-right14 ml-2"></i></a></li></ul></div></form>
        </div>
        <!-- /wizard with validation -->

    </div>
{% endblock %}